body {
    font-family: Arial, sans-serif;
    background-color: #9f9696;
    margin: 0;
    padding: 0;
    padding-left: 3.5cm;
    padding-right: 3.5cm;
    padding-bottom: 1cm;
    padding-top: 0.5cm;
    
}

a {
    text-decoration: none;
    color: inherit
}

.navSearch {
    height: 0.6cm;
}

nav {
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 103%;
}

.nav1 {
    padding-bottom: 0.2cm;
    color:black;
}

.nav2 {
    background-color: #b7b6b6;
    color: white;
    padding: 0.2cm;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.logo {
    height: 2.5cm;
    width: 2.5cm;
    border-radius: 100%;
}

.navShare {
    height: 0.4cm;
    margin-bottom: -0.5;
}

#section1 {
    margin-top: 1cm;
    color: white;
    padding: 0.5cm;
    height: 5cm;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: end;
    margin-bottom: 0.08cm;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out; /* Optional smooth transition */
    background-image: url('Media/News/pancakes.png'); 
}


#section1box {
    color: black;
    height: 1.5cm;
    width: 10cm;
}

#section1boxitem1 {
    background-color: #714545;
    color: white;
    height: 40%;
    width: 3cm;
    display: flex;
    align-items: center;
    padding-left: 0.2cm;
    font-weight: bold;
    font-size: small;
}

#section1boxitem2 {
    background-color: #b7b6b6;
    font-weight: bold;
    min-height: 50%;
    max-height: 100%;
    width: 11cm;
    display: flex;
    align-items: center;
    padding-left: 0.2cm;
    padding-top: 0.1cm;
    padding-bottom: 0.1cm;
}

#section2 {
    height: 10cm;
    width: 103%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.section2box {
    margin-top: 0.3cm;
    color: white;
    height: 6cm;
    width: 25%;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
    box-sizing: border-box;
}

#section2box1 {
    background-color: #4769c0;
    margin-right: 0.5cm;
}

#unoList {
    margin-left: -0.5cm;
    margin-bottom: 1cm;
}

#section2box2 {
    background-color: #9c7d3e;
    display: flex;
    justify-content: flex-start;
    align-items: end;
    background-size: cover;
    background-position: center;
    background-image: url('Media/Body/grapes.png');
    box-sizing: border-box;
    margin-right: 0.5cm;
}

#section2boxitem1 {
    background-color: #714545;
    color: white;
    height: 0.5cm;
    width: 3cm;
    display: flex;
    align-items: center;
    padding-left: 0.2cm;
    font-weight: bold;
    font-size: small;
}

#section2boxitem2 {
    background-color: #b7b6b6;
    font-weight: bold;
    font-size: small;
    height: 0.8cm;
    width: 97.5%;
    display: flex;
    align-items: center;
    padding-left: 0.2cm;
}

#section2box3 {
    background-size: cover;
    background-position: center;
    background-image: url('Media/Body/pasta.png');
    transition: opacity 0.5s; 
    height: 6cm;
}

#section2box4 {
    background-color: white;
    transition: width 0.5s, height 0.5s; 
    box-sizing: border-box;
}

.triangle {
    width: 0; 
    height: 0; 
    border-top: 0.6cm solid transparent;
    border-bottom: 0.6cm solid transparent; 
    border-right: 0.6cm solid white; 
    position: absolute;
    right: 8.9cm;
    top: 3cm; 
  }

#section2box4:hover {
    width: calc(100% - 41%);
    height: 6cm; 
}

#section2box4:hover .triangle {
    display: none;
}

#section3 {
    height: 6cm;
    width: 103%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -3.33cm;
}

.section3outer {
    width: 24%;
    height: 100%;
    background-color: white;
    overflow-y: auto;
}

#section3inner {
    width: 50%;
    height: 100%;
    background-color: #9c7d3e;
    background-size: cover;
    background-position: center;
    background-image: url('Media/News/yogurt.png');
}

video {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

#bottomDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}